
    <div class="container-fluid g-0">
        <div class="footer bg-light" style="color:rgb(10, 10, 80)"  >
            
            
            
             
            <div class="row" style="list-style-type: none;padding:20px 50px">
            <div class="col-6">
            <p style="color:rgb(15, 15, 87)"><b>Legal</b></p>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            </div>
            <div class="col-6">
            <p style="color:rgb(15, 15, 87)"><b>Contact</b></p>
            <li><i class="fa fa-envelope px-2"></i>RideYourOwnCar@gmail.com</li>
            <li><i class="fa fa-phone px-2"></i>1800 123 401</li>
            <li><i class="fa fa-phone px-2"></i>+(91)9827459874</li>
            </div>
            </div>
             
            <div class="footer-border" style="padding-bottom: 0%;">
            <div style="padding:20px 50px">
                <div class="footer-element">
                    <p>2021 @ RideYourOwnCar All rights reserved</p>
                </div>
                    <div class="d-flex justify-content-end ">
                    <p>Follow us on  </p>
                    <i class="fa fa-facebook px-2"></i>
                    <i class="fa fa-twitter px-2"></i>
                    <i class="fa fa-instagram px-2"></i>
                    </div>
            </div> 
            </div>
    </div> 
    </div>