<div class="footer  text-white p-5 py-2 mt-1 mb-1" style="background-color:rgb(43, 43, 41);">
    <p class="py-3"><b>Cities we are available in </b></p>
    <div class="row"style="list-style-type: none;">
    <div class="col-4">
    <li>Pune</li>
    <li>Mumbai</li>
    <li>Bangalore</li>
    <li>New Delhi</li>
    <li>Hyderabad</li>
    <li>Chennai</li>
    </div>
    <div class="col-4">
    <li>Nagpur</li>
    <li>Ahmedabad</li>
    <li>Coimbatore</li>
    <li>Vadodara</li>
    <li>Bhopal</li>
    <li>Kolkata</li>
    </div>
   <!-- <div class="col-3">
    <li>Surat</li>
    <li>Mysore</li>
    <li>Pondicherry</li>
    <li>Nashik</li>
    <li>Jaipur</li>
    <li>Chandigarh</li>
    </div>-->
    <div class="col-4">
    <li>Vellore</li>
    <li>Lucknow</li>
    <li>Kochi</li>
    <li>Vizag</li>
    <li>Tirupati</li>
    <li>Many more...</li>
    </div>
    </div>
     
    <div class="row py-5" style="list-style-type: none;">
    <div class="col-sm-6">
    <p><b>Legal</b></p>
    <li>Terms & Conditions</li>
    <li>Privacy Policy</li>
    </div>
    <div class="col-sm-6">
    <p><b>Contact</b></p>
    <li><i class="fa fa-envelope px-2"></i>RideYourOwnCar@gmail.com</li>
    <li><i class="fa fa-phone px-2"></i>1800 123 401</li>
    <li><i class="fa fa-phone px-2"></i>+(91)9827459874</li>
    </div>
    </div>
    
     
    <div class="footer-border" style="padding-bottom: 0%;">
   <div class="row">
    <div class="col-sm-6  py-3 ">
        <p>2021 @Wanderlust All rights reserved</p>
        </div>
        <div class="d-flex col-sm-6 py-3">
        <p>Follow us on  </p>
        <i class="fa fa-facebook px-2"></i>
        <i class="fa fa-twitter px-2"></i>
        <i class="fa fa-instagram px-2"></i>
        </div>
   </div>
    </div>
     
  </div>