<div class="c">
    <div class="container" >
         <div class="row g-0">
             <div class="col-sm-1 col-md-2"></div>
             <div class="col-sm-10 col-md-8">
                <div class="card m-5 p-4 shadow-inset-center  ">
                <div class="card-img">
                    <img class="img-fluid" style="display:block;margin:auto;" [src]="carobjs.carimage" alt="" width="80%" height="500px">  
                </div>
                <h3 class="text-center" style="font-size:bold">SPECIFICATIONS</h3>
                 <table class="table">
                     <tr>
                         <th>Category</th>
                         <td>{{carobjs.cartype}}</td>
                     </tr>
                     <tr>
                         <th>Model Name</th>
                         <td>{{carobjs.carname}}</td>
                     </tr>
                     <tr>
                         <th>Car Color</th>
                         <td>{{carobjs.carcolour}}</td>
                     </tr>
                     <tr>
                         <th>Engine Type</th>
                         <td>{{carobjs.enginetype}}</td>
                     </tr>
                     <tr>
                         <th>Fuel Type</th>
                         <td>{{carobjs.fueltype}}</td>
                     </tr>
                     <tr>
                         <th>Fuel Tank Capacity</th>
                         <td>{{carobjs.fueltankcapacity}}</td>
                     </tr>
                     <tr>
                         <th>Overall Length</th>
                         <td>{{carobjs.overalllength}}mm</td>
                     </tr>
                     <tr>
                         <th>Overall Width</th>
                         <td>{{carobjs.overallwidth}}mm</td>
                     </tr>
                     <tr>
                         <th>Overall Height</th>
                         <td>{{carobjs.overallheight}}mm</td>
                     </tr>
                     <tr>
                         <th>Wheel Base</th>
                         <td>{{carobjs.wheelbase}}mm</td>
                     </tr>
                     <tr>
                         <th>Tyre Size</th>
                         <td>{{carobjs.tyresize}}</td>
                     </tr>
                     <tr>
                         <th>Tyre Type</th>
                         <td>{{carobjs.tyretype}}</td>
                     </tr>
                 </table>
                 
                 </div>
                
             </div>
             <div class="col-sm-1 col-md-2"></div>
         </div>
        
     
 </div>
 
</div>