    <div class="container-fluid g-0">
        <img class="img-fluid"  src="../assets/aboutus.jpg"  style="width: 100%;height:450px;">
    <div class="container" style="background-color: rgb(231, 229, 229);">
        <h1 class="text-center mt-5 mb-4 pt-3" style=" font-weight: bold;">Who We Are</h1>
        <p class="about px-5 pb-3" style=" font-size: 18px;">
        Wanderlust Motor India Limited (WMIL) is a wholly owned subsidiary of Wanderlust Motor Company (WMC). 
        WMIL is India’s first smart mobility solutions provider and the number one car exporter since inception 
        in India. It currently has 10 car models across segments SANTRO, GRAND i10 NIOS, all-new i20, AURA, VENUE,
        Spirited N
        ew VERNA, All New CRETA, ELANTRA, New 2020 TUCSON & KONA Electric. WMIL's fully integrated 
        state-of-the-art manufacturing plant near Chennai boasts of advanced production, quality, and testing capabilities.
        </p>
        <p class="about px-5 pb-5" style=" font-size: 18px;">
        WMIL forms a critical part of WMC’s global export hub. It currently exports to around 88 countries across
        Africa, Middle East, Latin America, Australia, and Asia Pacific. To support its growth and expansion plans,
        WMIL currently has 522 dealers and more than 1,298 service points across India. In its commitment to provide
        customers with cutting-edge global technology, Wanderlust has a modern multi-million-dollar R&D facility in Hyderabad.
        The R&D center endeavours to be a center of excellence in automobile engineering.
        </p>
    </div>


    <div class="container mt-5" style="background-color: rgb(231, 229, 229);">
        <h1 class="text-center  mb-4 pt-3" style=" font-weight: bold;">What We Do</h1>
        <div class="row m-2">
            
            <div class="col-sm-4">
                <div class="card" style="width:100%; height:100%">
                    <img src="./assets/a1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Press Shop</h5>
                    <p class="card-text">A computer controlled line that converts sheet metal to body panels with high dimensional accuracy and consistency.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:100%; height:100%">
                    <img src="./assets/a2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Body Shop</h5>
                    <p class="card-text">It is a hi-tech line that builds full body shells from panels. Automated robotic arms are used for intricate welding operations that ensure superior and consistent build quality</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:100%; height:100%">
                    <img src="./assets/a3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Paint Shop</h5>
                    <p class="card-text">It is one of the most modern paint shops in the country and uses the environment friendly water based process for superior and lasting exteriors.</p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row m-2">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="card" style="width:100%; height:100%">
                    <img src="./assets/a4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Assembly Shop</h5>
                    <p class="card-text">In Assembly Shop all the engine and suspension parts, the electrical parts, the under body parts etc are fitted into the car. The cars go through complete testing in the Assembly Shop.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width:100%; height:100%">
                    <img src="./assets/a5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Engine & Transmission Shop</h5>
                    <p class="card-text">One of the biggest engine shops in the country, this unit is equipped with the most modern tooling and testing facilities to make a wide range of engines in-house.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
            
        </div>
    </div>

    <div class="container-fluid mt-5" style="background-color: rgb(231, 229, 229);">
        <h1 class="text-center  mb-3 pt-3" style=" font-weight: bold;">Office Addresses</h1>
        <div class="row m-2 mb-4">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="card" style="width:100%; height:100%">
                    <div class="card-body" style="background-color: rgb(252, 250, 250);">
                    <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">Registered Office & Factory</h5>
                    <p class="text-center">Location : Kanchipuram</p>
                    <p class="text-center">Address : Irrugattukottai, NH No. 4, Sriperumbudur Taluk, Kanchipuram District, Tamil Nadu - 602117 </p>
                    <p class="text-center">Telephone : 044 - 47100000</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" style="width:100%; height:100%">
                    <div class="card-body" style="background-color: rgb(252, 250, 250);">
                    <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">Wanderlust Motor India Limited</h5>
                    <p class="text-center">Location : New Delhi</p>
                    <p class="text-center">Address : 2nd & 6th Floor, Corporate One (Baani Building), Plot No.5, Commercial Centre, Jasola, New Delhi- 110025</p>
                    <p class="text-center">Telephone : 011 - 66022000</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

    
    <div class="row m-2 mb-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="card" style="width:100%; height:100%">
                <div class="card-body" style="background-color: rgb(252, 250, 250);">
                <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">Central Regional Office 1</h5>
                <p class="text-center">Location : Location: New Delhi</p>
                <p class="text-center">Address : Unit No. 602 - 605, 6th Floor, Elegance Tower, Plot No.-8, Jasola, New Delhi- 110025 </p>
                <p class="text-center">Telephone : 011 - 66445000</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width:100%; height:100%">
                <div class="card-body" style="background-color: rgb(252, 250, 250);">
                <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">Central Regional Office 2</h5>
                <p class="text-center">Location : Lucknow</p>
                <p class="text-center">Address : 5th floor, BBD Viraj Tower, Vibhuti Khnad, Gomtinagar, Lucknow – 226010</p>
                <p class="text-center">Telephone : 0522 - 4260750 </p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row m-2 mb-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%; height:100%">
                <div class="card-body" style="background-color: rgb(252, 250, 250);">
                <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">North Regional Office</h5>
                <p class="text-center">Location : Chandigarh</p>
                <p class="text-center">Address : 1st Floor, Office Suites Elante, Plot No 178-178A, Industrial & Business Park Phase I, Chandigarh-160002</p>
                <p class="text-center">Telephone : 0172 - 6605000</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width:100%; height:100%">
                <div class="card-body" style="background-color: rgb(252, 250, 250);">
                <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">East Regional Office</h5>
                <p class="text-center">Location : Kolkata</p>
                <p class="text-center">Address : Infinity Benchmark, 8th Floor, Plot-G1, Block-EP & GP, Sec-V, Salt Lake, Kolkata - 700091</p>
                <p class="text-center">Telephone : 033-40060046</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row m-2 mb-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="card" style="width:100%; height:100%">
                <div class="card-body" style="background-color: rgb(252, 250, 250);">
                <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">South Regional Office</h5>
                <p class="text-center">Location : Hyderabad</p>
                <p class="text-center">Address : "Vaishnavi Cynosure", Unit 4G & 4H, 6th Floor, #1-72/ 3/ 19 to 49/ VC/ 4G& 4H, Survey no.18, Opp: Telecom Nagar, Gachibowli, Hyderabad, Telengana - 500081</p>
                <p class="text-center">Telephone : 040 - 67291700</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width:100%; height:100%">
                <div class="card-body" style="background-color: rgb(252, 250, 250);">
                <h5 class="card-title text-center pb-2" style="font-weight: bold; font-size: 22px;">West Regional Office</h5>
                <p class="text-center">Location : Mumbai</p>
                <p class="text-center">Address : Lotus Corporate Park, Space No.1401 & 1402, Wing-A, CTS 18/A, Graham Firth Compound, Western Express Highway, Goregaon (East), Mumbai- 400063</p>
                <p class="text-center">Telephone : 022 - 61693900</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    </div>
    </div>
