<img class="img-fluid"  src="../assets/warranty.jpg"  style="width: 100%;height:450px;">
<div class="co">
  <div class=" mb-5 " style="background-color: rgb(231, 229, 229);">
    <h1 class="text-center mt-5 mb-4 pt-3" style=" font-weight: bold;">Warranty Policy</h1>
    <p class="about px-5 pb-3" style=" font-size: 18px;">
        Wanderlust Motor India Limited herein after called "WMIL” warrants that each current and new Wanderlust 
        vehicle sold shall be free from any defects in material and workmanship, under normal use and maintenance,
        subject to the following terms and conditions.
    </p>
</div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Warranty Period
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body mt-1">
                  <div class="container">
                    <div class="row mt-5">
                        <div class="col-sm-12 ">
                          
                          <ul>
                            <li class="mb-2">The term of the warranty shall commence from the date of delivery of the new vehicle to the first purchaser. Warranty on each model shall be applicable as per the below table.</li>
                            <p>Warranty period specified below is dependent on whichever occurs earlier.</p>
                            <p>The below mentioned warranty information is valid from Feb. 2018 onwards.</p>
      
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Model</th>
                                  <th scope="col">Warranty Period*</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>EON</td>
                                  <td>3 years / 100000 kms</td>
                                </tr>
                                <tr>
                                  <td>All New Santro</td>
                                  <td>3 years / 100000 kms</td>
                                </tr>
                                <tr>
                                  <td>Grand i10</td>
                                  <td>3 years / 100000 kms</td>
                                </tr>
                                <tr>
                                  <td>AURA / Grand i10 NIOS</td>
                                  <td>3 years / 100000 kms<br>
                                      4 years / 50000 kms<br>
                                      5 years / 40000 kms
                                  </td>
                                </tr>
                                <tr>
                                  <td>Xcent</td>
                                  <td>3 years / 100000 kms</td>
                                </tr>
                                <tr>
                                  <td>Elite i20</td>
                                  <td>3 years / 100000 kms</td>
                                </tr>
                                <tr>
                                  <td>i20 Active</td>
                                  <td>3 years / 100000 kms</td>
                                </tr>
                                <tr>
                                  <td>Venue</td>
                                  <td>3 years / Unlimited</td>
                                </tr>
                                <tr>
                                  <td>Creta</td>
                                  <td>3 years / Unlimited</td>
                                </tr>
                                <tr>
                                  <td>All New Elantra</td>
                                  <td>3 years / Unlimited</td>
                                </tr>
                                <tr>
                                  <td>All New Tucson</td>
                                  <td>3 years / Unlimited</td>
                                </tr>
                              </tbody>
                            </table>
      
                        </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>

        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  What is covered
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body mt-1">
                   <div class="container">
                    <div class="row mt-5 mb-5">
                        <div class="col-sm-12">
                          <ul>
                            <li>Except as provided under What is not Covered hereof, our Authorized Dealers shall either repair or replace, 
                           any Wanderlust genuine part that is acknowledged by WMIL to be defective in material or workmanship within the
                           warranty period stipulated above, at no cost to the owner of the Wanderlust vehicle for parts or labor. Such
                           defective parts which have been replaced will become the property of WMIL.</li>
                           </ul>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>

        
        <div class="accordion-item ">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What is not covered
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body mt-1">
                 <div class="container">
                  <div class="row mt-5 mb-5">
                      <div class="col-sm-12">
                        <ul>
                          <li class="fw-bold">This warranty shall not apply to :</li>
                          <li>
                              Normal maintenance services other than the three free services, including without limitation, cleaning and polishing, 
                              justments, engine tuning, oil/fluid changes, filters replenishment, fastener retightening, wheel balancing, wheel alignment 
                              and tyre rotation etc.
                          </li>
                          <li>
                              Replacement of parts as a result of normal wear and tear such as spark plugs, belts, brake pads and linings, clutch disc/facing, 
                              filters, wiper blades, bulbs, fuses, etc.
                          </li>
                          <li class="fw-bold">Damage or failure resulting from</li>
                          <li>Negligence of proper maintenance as required in this Owner's Manual and Service Booklet.</li>
                          <li>Misuse, abuse, accident, theft, flooding or fire.</li>
                          <li>Use of improper or insufficient fuel, fluids or lubricants.</li>
                          <li>Use of parts other than Wanderlust Genuine Parts.</li>
                          <li>Any device and/or accessories not supplied by WMIL.</li>
                          <li>Modifications, alterations, tampering or improper repair.</li>
                          <li>Parts used in applications of which they were not designed or not approved by WMIL.</li>
                          <li>Slight irregularities not recognized as affecting quality or function of the vehicle or parts, such as slight noise or vibrations, or items considered characteristic of the vehicle.</li>
                          <li>Airborne "fallout", Industrial fall out, acid rain, hail and wind storms, or other Acts of God.</li>
                          <li>Paint scratches, dents or similar paint or body damage.</li>
                          <li>Action of road elements (sand, gravel, dust or road debris) which results in stone chipping of paint or glass.</li>
                          <li>Incidental or consequential damages, including without limitation, loss of time, inconvenience, loss of use of vehicle or commercial loss.</li>
                      </ul>
                      <p>Batteries, Audio Systems, Tyres and Tubes originally equipped on Wanderlust vehicles are warranted directly by the respective manufacturers and not by WMIL.</p>
                      <p>This warranty is the entire warranty given by WMIL and no dealer or its or his agent or employee is authorized to extend or enlarge this warranty and no dealer or its or his agent or employee is authorized to make any oral warranty on WMIL’s behalf.</p>
                      <p>WMIL reserves the right to make any change in design or make any improvement on the vehicle at any time without any obligation to make the same change on vehicles previously sold.</p>
                      <p>Warranty service shall be provided only by WMIL's authorized dealers and Dealer Service Branch.</p>
                      <p>WMIL’s decision is final and binding on the Owner of the vehicle in all warranty matters. WMIL reserves the right for the final decision on all warranty matters.</p>
                  
                      </div>
                  </div>
                 </div>
              </div>
          </div>
      </div>

      <div class="accordion-item ">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Owner's Responsibilities
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body mt-1">
               <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-sm-12">
                      <ul>
                        <li>Proper use, maintenance and care of vehicle in accordance with the instructions contained in the Owner’s Manual and
                             Service Booklet. If the vehicle is subject to severe usage conditions, such as operation in extremely dusty, rough, 
                             more repeated short distance driving or heavy city traffic during hot weather, maintenance of vehicle should be done
                             more frequently as mentioned in Owner’s Manual and Service Booklet.
                        </li>
                        <li>
                          In order to maintain the validity of this Basic Warranty, the vehicle must be serviced by Wanderlust Authorized Dealer or 
                          Service Centre in accordance to the Owner’s Manual and Service Booklet.
                        </li>
                        <li>
                          Retention of maintenance service records. It may be necessary for the customer to show that the required maintenance has 
                          been performed, as specified in -Owner’s Manual and Service Booklet.
                        </li>
                        <li>
                          Delivery of the vehicle along with Owner's Manual and Service Booklet during regular service business hours to any authorized 
                          Wanderlust Dealer to obtain warranty service.
                        </li>
                        <li>
                          All disputes arising out of this Basic Warranty will be subject to the jurisdiction of Courts in Chennai only.
                        </li>
                    </ul>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>

     

    </div>

</div>