
<img class="img-fluid"  src="../assets/maintenance.jpg"  style="width: 100%;height:450px;">
<div class="co">
    <h2 class="text-center m-4" style="font-weight:bold">Car - Regular Maintenance tips and advise</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Engine Care
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body mt-1">
                  <div class="container">
                    <div class="row mt-5">
                        <div class="col-lg-6 ">
                          
                                    <img src="../assets/m1.jpg" alt="" width="100%" height="300px"> 
                           
                        </div>
                        <div class="col-lg-6 mt-2 ">
                            <h4 style="font-weight: bold;">Checking the engine oil level</h4>
                            <ul>
                                <li>Be sure the vehicle is on level ground.</li>
                                <li>Start the engine and allow it to reach normal operating temperature.</li>
                                <li>Turn the engine off and wait for a few minutes (about 5 minutes) for the oil to return to the oil pan.</li>
                                <li>Pull the dipstick out, wipe it clean, and re-insert it fully.</li>
                                <li>Pull the dipstick out again and check the level. The level should be between F and L. If it is near or at L, add enough oil to bring the level to F.</li>
                            </ul>
                            <p style="font-weight: bold;">Do not overfill and use only the recommended Hyundai engine oil.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                <img src="../assets/m2.jpg" alt="" width="100%"  height="300px"> 
                        </div>
                        <div class="col-md-6 mt-2">
                            <h4 style="font-weight: bold;">Checking the brake fluid level</h4>
                            <ul>
                                <li>Be sure the vehicle is on level ground.</li>
                                <li>The fluid level should be between MAX and MIN marks on the side of the reservoir. Before removing the reservoir cap and adding brake fluid, clean the area around the reservoir cap thoroughly to prevent brake fluid contamination.</li>
                                <li>If the level is low, add fluid to the MAX level. The level will fall with accumulated mileage. This is a normal condition associated with the wear of the brake linings.</li>
                            </ul>
                            <p style="font-weight:bold;">If the fluid level is excessively low, have the brake system checked by an authorized HYUNDAI dealer. Use only the specified brake fluid.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-6">
                                <img src="../assets/m3.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-md-6 mt-2">
                            <h4 style="font-weight: bold;">Checking the engine coolant level</h4>
                            <p style="font-weight: bold;">Never attempt to remove the radiator cap whilst the engine is operating or hot.</p>
                            <ul>
                                <li>The coolant level should be filled between F (MAX) and L (MIN) marks on the side of the coolant reservoir when the engine is cool.</li>
                                <li>If the coolant level is low, add enough specified coolant to provide protection against freezing and corrosion. Bring the level to F (MAX), but do not overfill.</li>
                            </ul>
                            <p style="font-weight: bold;">If frequent coolant refill is required, see an authorized HYUNDAI dealer for a cooling system inspection.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                <img src="../assets/m4.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <h4 style="font-weight: bold;">Checking the power steering fluid level</h4>
                            <ul>
                                <li>Be sure the vehicle is on level ground.</li>
                                <li>The fluid should be between MAX and MIN marks on the side of the power steering reservoir at the normal temperature.</li>
                                <li>If the level is low, add fluid to the MAX level.</li>
                            </ul>
                            <p style="font-weight: bold;">Use only the specified power steering fluid.</p>
                            <p style="font-weight: bold;">In the event the power steering system requires frequent addition of fluid, the vehicle should be inspected by an authorized HYUNDAI dealer.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                <img src="../assets/m5.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <h4 style="font-weight: bold;">Checking the washer fluid level</h4>
                            <p>The reservoir is translucent so that you can check the level with a quick visual inspection. Check the fluid level in the washer fluid reservoir and add fluid if necessary. Plain water may be used if washer fluid is not available. However, use washer solvent with antifreeze characteristics in cold climates to prevent freezing.</p>
                            <p style="font-weight: bold;">Do not use radiator coolant or antifreeze in the washer fluid reservoir.</p>
                        </div>
                    </div>

                 
                </div>
            </div>
        </div>
    </div>

        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Battery Care
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body mt-1">
                   <div class="container">
                    <div class="row mt-5 mb-5">
                        <div class="col-lg-6">
                                <img src="../assets/m21.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <h4 style="font-weight: bold;">For best battery service</h4>
                             <ul>
                                 <li>Keep the battery securely mounted.</li>
                                 <li>Keep the battery top clean and dry.</li>
                                 <li>Keep the terminals and connections clean, tight, and coated with petroleum jelly or terminal grease.</li>
                                 <li>Rinse any spilled electrolyte from the battery immediately with a solution of water and baking soda.</li>
                                 <li>If the vehicle is not going to be used for an extended time, disconnect the battery cables</li>
                             </ul>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Tire Rotation
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                    <div class="row mt-5 mb-5">
                        <div class="col-lg-6">
                                <img src="../assets/m31.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>To equalize tread wear, it is recommended that the tires be rotated every 10,000 Km or sooner if irregular wear develops. During rotation, check the tires for correct balance.</p>
                            <p>When rotating tires, check for uneven wear and damage. Abnormal wear is usually caused by incorrect tire pressure, improper wheel alignment, out-of –balance wheels, severe braking or severe cornering. Look for bumps or bulges in the tread or side of tire.</p>
                            <p>Replace the tire if you find either of these conditions. Replace the tire if fabric or cord is visible. After rotation, be sure to bring the front and rear tire pressures to specification and check lug nut tightness.</p>
                        </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Fuse Changing
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> 
                  <div class="container">
                       <div class="mt-5 mb-5">                           
                          <p>A vehicle’s electrical system is protected from electrical overload damage by fuses.</p>
                          <p>The vehicle has generally 2 (or 3) fuse panels, one located in the driver’s side panel bolster, the other in the engine compartment near the battery.</p>
                          <p>circuit fuse. If a fuse has blown, the element inside the fuse will be melted.</p>
                          <p>If the electrical system does not work, first check the driver’s side fuse panel. <span style="font-weight: bold;"> Always replace a blown fuse with one of the same rating.</span></p>
                          <div class="row mt-4 mb-5">
                              <div class="col-lg-6 ">
                                        <img src="../assets/m41.jpg" alt="" width="100%" height="300px"> 
                              </div>
                              <div class="col-lg-6 mt-2">
                                  <h4 style="font-weight: bold;">Engine compartment panel fuse replacement</h4>
                                   <ul>
                                       <li>Turn the ignition switch and all other switches off./li>
                                       <li>Remove the fuse box cover by pressing the tap and pulling up.</li>
                                       <li>Check the removed fuse; replace it if it is blown. To remove or insert the fuse, use the fuse puller in the engine compartment fuse panel.</li>
                                       <li>Push in a new fuse of the same rating and make sure it fits tightly in the clips. If it fits loosely, consult an authorized HYUNDAI dealer.</li>
                                  </ul>
                                  <p style="font-weight:bold;">After checking the fuse box in the engine compartment, securely install the fuse box cover. If not, electrical failures may occur from water leaking in.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
            </div>
         

            <div class="accordion-item ">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      Exterior Care
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <div class="container">
                          <div class="mt-5 mb-5">                           
                              <ul>
                                  <li>Wash your car thoroughly and frequently atleast a month.</li>
                                  <li>While washing pay special attention on removal of any dirt, salt or any foreign particle.</li>
                                  <li>For better washing, you may use a car washing shampoo to wash the vehicle.</li>
                              </ul>
                              <h4 style="font-weight: bold;">Caution</h4>
                              <ul>
                                  <li>Do not use strong soap, chemical detergents or hot water to wash the vehicles.</li>
                                  <li>Never wash the engine compartment with a water jet as it may cause failure of electrical components located in engine compartment.</li>
                              </ul>
                          </div>
                     </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item ">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Interior Care
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <div class="container">
                        <div class="mt-5 mb-5">                           
                           <ul>
                                 <li>Prevent perfume and cosmetic oil from contacting the dashboard. If they do contact wipe off immediately.</li>
                                 <li>Remove dust and loose dirt from the upholstery using a vacuum cleaner at regular intervals.</li>
                                 <li>If the interior glass surface of the vehicle become fogged due to deposition of oily, greasy and waxy film, the same must be cleaned using a glass cleaner.</li>
                                 <li>If the carpet becomes wet, do not let it be there for long, it may create a musty smell and corrode the floor.</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item ">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseTwo">
                      If You Have A Flat Tire
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body mt-1">
                       <div class="container">
                        <div class="row mt-4 mb-5">
                            <div class="col-lg-6 ">
                                        <img src="../assets/m71.jpg" alt="" width="100%" height="300px"> 
                            </div>
                            <div class="col-lg-6 mt-2">
                                <h4 style="font-weight: bold;">Jack and tools</h4>
                                <p>The jack, jack handle, wheel brace are stored in the luggage compartment.</p>
                                <p>Pull up the luggage box cover to reach this equipment.</p>
                                <ul>
                                     <li>Jack handle</li>
                                     <li>Jack</li>
                                     <li>Wheel brace</li>
                                 </ul>
                            </div>
                        </div>
                        <h4 style="font-weight: bold;">Jacking instructions</h4>
                        <p>The jack is provided for emergency tire changing only. To prevent the jack from “rattling” whilst the vehicle is in motion, store it properly. Follow jacking instructions to reduce the possibility of personal injury.</p>
                        <h4 style="font-weight: bold;">Removing and storing the spare tire</h4>
                        <p>Your spare tire is stored underneath your vehicle, directly below the cargo area.</p>
                        <h4 style="font-weight: bold;">To remove the spare tire:</h4>
                        <ul>
                            <li>Open the tailgate.</li>
                            <li>Find the plastic hex bolt cover and remove the cover.</li>
                            <li>Use the wheel brace to loosen the bolt enough to lower the spare tyre.Turn the wheel brace counterclockwise until the spare tire reaches the ground.</li>
                            <li>After the spare tire reaches the ground, continue to turn the wheel brace counterclockwise, and draw the spare tire outside. Never rotate the wheel brace excessively, otherwise the spare tire carrier may be damaged.</li>
                            <li>Remove the retainer (1) from the centre of the spare tire.</li>
                        </ul>
                        <h4 style="font-weight: bold;">To store the spare tire:</h4>
                        <ul>
                            <li>Lay the tire on the ground with the valve stem facing up.</li>
                            <li>Place the wheel under the vehicle and install the retainer (1) through the wheel centre.</li>
                            <li>Turn the wheel brace clockwise until it clicks.</li>
                        </ul>
                       </div>
                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                     Changing Tires
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body mt-1">
                       <div class="container">
                           <div class="mt-5 mb-5">
                               <ul>
                                    <li>Park on a level surface and apply the parking brake firmly.</li>
                                    <li>Shift the shift lever into R (Reverse).</li>
                                    <li>Activate the hazard warning flasher.</li>
                                    <li>Remove the wheel brace, jack, jack handle, and spare tire from the vehicle.</li>
                                    <li>Block both the front and rear of the wheel that is diagonally opposite the jack position.</li>
                                    <li>Loosen the wheel nuts counterclockwise one turn each, but do not remove any nut until the tire has been raised off the ground.</li>
                                    <li>Place the jack at the front or rear jacking position closest to the tire you are changing. Place the jack at the designated locations under the frame. The jacking positions are plates welded to the frame with two tabs and a raised dot to index with the jack.</li>
                                    <li>Insert the jack handle into the jack and turn it clockwise, raising the vehicle until the tire just clears the ground. This measurement is approximately30 mm (1.2 in). Before removing the wheel nuts, make sure the vehicle is stable and that there is no chance for movement or slippage.</li>
                                    <li>Loosen the wheel nuts and remove them with your fingers. Slide the wheel off the studs and lay it flat so it cannot roll away. To put the wheel on the hub, pick up the spare tire, line up the holes with the studs and slide the wheel onto them. If this is difficult, tip the wheel slightly and get the top hole in the wheel lined up with the top stud. Then jiggle the wheel back and forth until the wheel can be slid over the other studs.</li>
                                    <li>To reinstall the wheel, hold it on the studs, put the wheel nuts on the studs and tighten them finger tight. The nuts should be installed with their tapered small diameter ends directed inward.
                                        Jiggle the tire to be sure it is completely seated, then tighten the nuts as much as possible with your fingers again.</li>
                                    <li>Lower the vehicle to the ground by turning the wheel brace counterclockwise.</li>
                                
                                 </ul>
                           </div>
                        </div>
                   </div>
            </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseEight">
                     Headlamp Changing
                  </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body mt-1">
                       <div class="container">
                           <div class="mt-5 mb-5">
                               <p>Prior to working on the light, firmly apply the parking brake, ensure that the ignition switch is turned to the “LOCK” position and turn off the lights to avoid sudden movement of the vehicle and burning your fingers or receiving an electric shock.</p>
                               <h4 style="font-weight: bold;">Caution</h4>
                               <p style="font-weight: bold;">Be sure to replace the burned-out bulb with one of the same wattage rating. Otherwise, it may cause damage to the fuse or electric wiring system.</p>
                               <ul>
                                   <li>Open the bonnet.</li>
                                   <li>Loosen the retaining bolts and remove the headlight assembly from the body of the vehicle.</li>
                                   <li>Disconnect the power connector from the back of the headlight assembly.</li>
                                   <li>Remove the headlight bulb cover by turning it counterclockwise.</li>
                                   <li>Disconnect the headlight bulb socket connector.</li>
                                   <li>Unsnap the headlight bulb retaining wire by depressing the end and pushing it upward.</li>
                                   <li>Remove the bulb from the headlight assembly.</li>
                                   <li>Install a new headlight bulb and snap the headlight bulb retaining wire into position by aligning the wire with the groove on the bulb.</li>
                                   <li>Connect the headlight bulb socket connector.</li>
                                   <li>Install the headlight bulb cover by turning it clockwise.</li>
                                   <li>Connect the power connector to the back of the headlight assembly.</li>
                                   <li>Reinstall the headlight assembly to the body of the vehicle.</li>
                               </ul>
                               <h4 style="font-weight: bold;">Notice</h4>
                               <p style="font-weight: bold;">If the headlight aiming adjustment is necessary after the headlight assembly is reinstalled, consult an authorized HYUNDAI dealer.</p>

                           </div>
                        </div>
                   </div>
            </div>
            </div>
            

    </div>

</div>




