
<div class="di blink-1 ">
    <img class="img-fluid "  src="../assets/Driving-tips.jpg"  style="width: 100%;height:450px;">
</div>
<div class="co">
    <h2 class="text-center m-4">Car Driving tips and advise</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Driving in Rain
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body mt-1">
                  <div class="container">
                    <p>The heat is on its way out & soon it will be that time of the year when the heavens pour & turn everything green. With the arrival of monsoon comes a task of being more responsible on roads.</p>
                    <p>Here are a few simple things to take a look at even before you start driving to keep motoring safe & enjoy the rains to the fullest.</p>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                                    <img src="../assets/d1.jpg" alt="" width="100%" height="300px">
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Tyres: Tread pattern on your tyres is one of the most important things in the rains that can keep you safe on the roads.</p>
                            <p>Tip: Make sure your treads are deep enough by simply using a coin & checking if the depth is within safe limits (usually 3-5mm)</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                    <img src="../assets/d2.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6">
                            <p>Washer Wiper: have a tendency to wear out very fast. Replace the wipers blades before monsoon. Clean the windscreen with glass cleaning solution & soft cloth.</p>
                            <p>Tip: Put good quality wind shield washer in washer tank to get a cleaner windscreen.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                <img src="../assets/d3.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Brake calipers: are the most crucial part of a car and you should regularly clean them when required. Brakes should not be too tight or too loose.</p>
                            <p>Tip: To dry out the brake pads, drive the vehicle at speed of 30-40 km/hr and apply brakes 4-5times.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                <img src="../assets/d4.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Anti-Corrosion Paint: Get a fresh coat of anti-rust paint applied on the under chassis.</p>
                            <p>Tip: Get wax coating done on your car body just before the monsoons, this will prevent rust formation by filling up the scratches.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                <img src="../assets/d5.jpg" alt="" widthg="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Lights: Visibility suffers to a great extent while driving in rain. Check the headlights, indicators, reverse indicators & tail lamps of your vehicle before you start to drive.</p>
                            <p>Tip: Yellow lights give a better contrast in dark. Fog lights cover only the kerbs & not distant objects.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                <img src="../assets/d6.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Electrical Wiring: Make sure wires are insulated. Ensure that all the fuses are working fine & do carry some extra fuses.</p>
                            <p>Tip: Check all the lights, it is advisable to keep your parking light on while driving in rains.</p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                                    <img src="../assets/d7.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Air Conditioner & Defogger: Air Conditioner should be maintained properly even during monsoons as it helps to remove mist from windshields.</p>
                            <p>Tip: Turn on the AC and set it on fresh air setting if the interiors mist up. Run the AC on defog mode for a few times before setting out on rainy day.</p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Driving at Night
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body mt-1">
                   <div class="container">
                    <div class="row mt-5 mb-5">
                        <div class="col-lg-6">
                                    <img src="../assets/d21.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Night driving presents more hazards than driving in the daylight. For safe driving , here are some important tips to remember:↵</p>
                             <ul>
                                 <li>Slow down and keep more distance between you and other vehicles.</li>
                                 <li>Switch your rear viewmirrors to night mode to reduce the glare from other driver’s headlights.</li>
                                 <li>Keep your headlights clean and properly aimed on the oncoming vehicles.</li>
                                 <li>Avoid staring directly at the headlights of oncoming vehicles to prevent temporary blindness.</li>
                                 <li>Avoid using high beam in city driving .</li>
                             </ul>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Driving in Winter
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                    <div class="row mt-5 mb-5">
                        <div class="col-lg-6">
                                    <img src="../assets/d31.jpg" alt="" width="100%" height="300px"> 
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p>Severe weather conditions of winter result in greater wear and other problems. To minimise them, here are a few suggestions:</p>
                             <ul>
                                 <li>Use recommended high quality ethylene glycol coolant because it prevents corrosion in the cooling system, lubricates the water pump and prevents freezing.</li>
                                 <li>Visually inspect the battery and cables. Contact our authorized dealer or a service station for the inspection of the battery charge level.ts.</li>
                                 <li>Check your spark plugs and ignition wiring and components to be sure they are not cracked, worn or damaged in any way.</li>
                                 <li>Use approved window washer anti-freeze solution in the system to prevent the water from freezing.</li>
                             </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item ">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Driving in flooded areas
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> 
                    <div class="container">
                         <div class="mt-5 mb-5">                           
                            <p>In case you come across a flooded-out road ahead, turn around and find alternative route to your destination. Avoid driving through flooded areas unless you are sure the water level is lower than the bottom of the wheel hub.</p>
                            <ul>
                                <li>Drive through any water slowly.</li>
                                <li>Allow adequate stopping distance because brake performance may be affected.</li>
                                <li>After driving through water, dry the brakes by gently applying them several times while the vehicle is moving slowly.</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item ">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Convenient Parking
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="container">
                        <div class="mt-5 mb-5">                           
                            <p>Car parking is actually a skilled task which needs to be performed perfectly. You need to be very careful and alert while parking a car. Most Indian roads have become crowded thus finding a suitable parking place has become a unwanted challenge. Of course, if parking rules and regulations are strictly taken care of then no doubt, parking can become an effortless task.</p>
                            <p>As observed most drivers face problem with reverse parking and feels difficult to manage a trouble-free reverse parking. To help you, here are the useful steps to follow:</p>
                             <ul>
                                 <li>Always use both outside rearview mirrors.</li>
                                 <li>Shift the gear to the reverse mode then release the clutch slowly while simultaneously pressing the accelerator pedal.</li>
                                 <li>Just as the car starts moving, keep the pressing of accelerator pedal steady and then release the clutch completely.</li>
                                 <li>The car starts moving slowly at a regulated speed . Don’t’ forget to keep track of the road with the help of outside rearview mirrors. If there is a car behind, reverse slowly until the corner of the other car appears in your side window. Turn the steering wheel fully to the left and check your mirrors to ensure safety of the other car. Keep on reversing until the front of your car lines up with the back of the other car. Ensure that there is enough room for you to clear the back of the other car. Then, turn the steering wheel fully to the right which will park the car in a hassle free manner.</li>
                             </ul>
                        </div>
                   </div>
                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Safe Parking
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <div class="container">
                          <div class="mt-5 mb-5">                           
                            <p>Car parking is actually a skilled task which needs to be performed perfectly. You need to be very careful and alert while parking a car. Most Indian roads have become crowded thus finding a suitable parking place has become a unwanted challenge. Of course, if parking rules and regulations are strictly taken care of then no doubt, parking can become an effortless task.</p>
                            <h4 style="font-weight: bold;">When parking on the street</h4>
                             <ul>
                                 <li>Choose an area that is well-lit, busy and ideally monitored by CCTV, as this is an ideal deterrent for potential attackers.</li>
                                 <li>Do not leave you valuable things visible in the car.</li>
                                 <li>Put your children in the car from the pavement side.</li>
                            </ul>
                            <h4 style="font-weight: bold;">When parking in a car park</h4>
                             <ul>
                                 <li>Try and choose one that is well lit with security patrols, restricted entry and exit points.</li>
                                 <li>Always check closing times.</li>
                                 <li>Do not leave your valuable things visible in the car.</li>
                                 <li>Try and park close to the lift or stairs as more people will be passing by.</li>
                                 <li>Reverse into the parking space so you can get out quickly if you need to; through the windscreen you'll also be able to see people approaching your car.</li>
                                 <li>Avoid parking next to side-opening, high vans; if one is parked next to your driver's door when you come back, get into your car through the passenger door.</li>
                            </ul>
                            <h4 style="font-weight: bold;">When you return to your car</h4>
                             <ul>
                                 <li>Check around your car and also check the back seats for intruders before you get in.</li>
                                 <li>Get in as quickly as possible especially if it's dark and lock the doors if you don't feel safe.</li>
                                 <li>In winter, keep a can of de-icer and a scraper in your car so you don't have to spend unnecessary time out of your car scraping the windows.</li>
                            </ul>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Long Trip Advice
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body mt-1">
                       <div class="container">
                        <div class="row mt-5 mb-5">
                            <div class="col-lg-6 ">
                                        <img src="../assets/d71.jpg" alt="" width="100%" height="300px">                            </div>
                            <div class="col-lg-6 mt-2">
                                <p>Prior to your long trip, where-in you plan to drive your own vehicle, there are certain precautions and planning that is required. We hope that the following checklist will help you have a smooth and enjoyable trip.</p>
                                 <ul>
                                     <li>Get your car a checked up at nearest Hyundai Dealership.</li>
                                     <li>Get the battery and cables properly checked . It is advisable to have a new battery than taking a risk with a problematic or old battery.</li>
                                     <li>Check the fuel system for clogged or leaking pipes.</li>
                                     <li>Clean the cleaners-the air cleaner, the breather cap, the fuel pump sediment bowl and strainer, and the fuel filter.</li>
                                     <li>Check the oil and oil filter replace if necessary. Carry extra can of oil in the trunk.</li>
                                     <li>Hose pipes wear out on the inside. Pinch the pipes; replace if they feel spongy. Check clamps for tightness. It is advisable to carry spare hose pipes, and a tinful of water.</li>
                                     <li>Get the brakes and clutch adjusted if necessary.</li>
                                     <li>Get the wheel alignment checked and adjusted properly to have a better feel of the car and to reduce tire wear.</li>
                                     <li>Get the tires checked. Make sure the spare is in good condition and properly inflated.</li>
                                     <li>Do carry an emergency First Aid Kit, handy for any mishap enroute.</li>
                                 </ul>
                            </div>
                        </div>
                        <h4 style="font-weight: bold;">Must Carry Items</h4>
                        <p>Drivers License ,Vehicle Owners manual, Car Registration copy, Proof of Insurance ,Traveler's Cheques, Torch and Batteries ,First Aid Kit ,Jack, Wheel Brace, Puncture Kit, Pump, Tire Lever, Spare Wheel, Bulbs, Fuses,Set of Tools, Soap ,Tow Rope and Spade.</p>
                       </div>
                    </div>
                </div>
            </div>
    </div>
</div>


