.c{
    width:100%;
    height:auto;
    background-image: url("https://i.postimg.cc/YCYZF3Gq/SOZEQ8w-1.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%; 
   
}
/*nav{
    padding:100px 20px;
}

@media screen and (min-width:700px){
    nav{
            padding:150px 20px;
    }
}
@media screen and (min-width:1000px){
    nav{
            padding:200px 20px;
    }
}
*/
 a{
    
    color:rgb(10, 10, 10);
}
a:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}