<div class="container-fluid">
    <img class="img-fluid"  src="../assets/s1.jpg"  style="width: 100%;height:50%">
        <div class="container" style="background-color: white">
            <h2 class="text-center mt-5 mb-4 pt-3" style=" font-weight: bold;">Road Side Assistance Programme (With in Warranty)</h2>
                  <p class="roadsideassistance px-5 pb-3" style=" font-size: 18px;">
                    Wanderlust Road Side Assistance Programme is a 24x7 emergency support provided in the event of any mechanical or electrical breakdown and or traffic accident of a vehicle. It is an initiative to increase the WMIL's focus on its customers. 
                    The Road Side Assistance Program was launched with the aim of providing emergency road side assistance services round the clock to ensure a pleasurable and uninterrupted journey virtually anywhere in India.
                  </p>

                  <p class="roadsideassistance px-5 pb-4" style=" font-size: 18px;">
                    The program is designed to enhance the customer ownership experience and ensure that customers get immediate and hassle free service in the event of any car breakdown.
                 </p>
                
                  
                 <p class="roadsideassistance px-5 pb-5" style=" font-size: 18px;">
                    <b>The scheme will be available as a complimentary service for vehicles with in basic warranty period.</b>
                       The 24×7 Road Side Assistance program covers services such as: wheel change, fuel delivery up to 5 litres, taxi co-ordination, opening the vehicle in the event of a key lock-out, 
                       rectifying electrical problems related to the battery and fuse,on-spot repairs for complaints that can be attended to on site and car towing to the nearest workshop in cases of an accident or breakdown.
                </p>
        </div>

    <div class="container-fluid mt-5" style="background-color: rgb(252, 249, 249);">
        <h2 class="text-center  mb-5 pt-5 pb-5" style=" font-weight: bold;">Our Road Side Assistance Number is : 1800 102 4645 (toll free)</h2>
    </div>

<div class="Benefits of Road Side Assistance px-5 pb-3 "style=" font-size: 18px;">
 
    <h3><b>Benefits of Road Side Assistance</b></h3>
    
    <ul>
      <li><b>Break Down/Accident :</b> Roadside repair or vehicle recovery in case of breakdown/road traffic accident.</li>
      <li><b>Tire Related :</b> Tire punctures-replacement of punctured tire with the spare tire.</li>
      <li><b>Battery Related :</b> Dead battery-jump start.</li>
      <li><b>Key Related :</b> Locked keys, lost keys or broken vehicle keys.</li>
      <li><b>Fuel Related :</b> Out of fuel, incorrect fuel or contaminated fuel.</li>
    </ul>

</div>

<div class="Benefits of Road Side Assistance px-5 pb-3 "style=" font-size: 18px;">
    <h3><b>Terms & Conditions</b></h3>
    
    <ul>
      <li>The service is applicable for the basic warranty period of the vehicle.</li>
      <li>National Coverage: 24 X 7 assistance across India.</li>
      <li>The service is applicable for a condition in which the vehicle has been immobile.</li>
      <li>Cost of parts replacement is not included, unless covered under Wanderlust Warranty.</li>
      <li>Cost of repairs made to your vehicle is not included, unless it is covered under Wanderlust Warranty.</li>
    </ul>
</div>
</div>


<div class="container mt-5">
        <h1 class="text-center  mb-4 pt-3" style=" font-weight: bold;">Wanderlust Mobility Membership</h1>


        <div class="container-fluid mt-5" style="background-color: rgb(252, 249, 249);">
         <img class="img-fluid mb-4 pt-3"  src="../assets/s2.jpg"  style="width: 100%;height:100%">
            <p class="about px-5 pb-3" style=" font-size: 18px;text-align: center;">
                We welcome all our valued customers to join the Wanderlust Mobility Membership – a first of its kind program 
                to offer you and your family exclusive benefits for all your car, mobility and lifestyle related needs. Unlock a 
                world of amazing offers and exciting deals across various categories from our strong partner 
                ecosystem consisting of some of the best brands in the country.
            </p>
            <p class="about px-5 pb-3" style=" font-size: 18px;text-align: center;">
                We look forward to a lifetime partnership with you, as we continue to delight with regular addition of partner offers, to ensure that you benefit from the unmatched joy of being a proud Wanderlust owner.
                Scan the QR code to download the Wanderlust Mobility Membership App today.
                Visit www.membership.hyundai.co.in to know more.
              </p>
        </div>   

</div>